---
layout: page
title: "David Pinto"
subtitle: "Data Scientist / Web Dev / Tool Builder / Datavis Lover"
css: "/css/index.css"
meta-title: "David Pinto"
meta-description: "MSc in Computational Intelligence with a Bachelor of Control Engineering. Work experience as a software engineer, web developer, and data scientist."
bigimg: "/img/background.jpg"
---

<div class="posts-list">
  {% for post in site.tags.tutorial %}
  <article>
    <a class="post-preview" href="{{ post.url | prepend: site.baseurl }}">
	    <h2 class="post-title">{{ post.title }}</h2>
	
	    {% if post.subtitle %}
	    <h3 class="post-subtitle">
	      {{ post.subtitle }}
	    </h3>
	    {% endif %}
      <p class="post-meta">
        Posted on {{ post.date | date: "%B %-d, %Y" }}
      </p>

      <div class="post-entry">
        {{ post.content | truncatewords: 50 | strip_html | xml_escape}}
        <span href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</span>
      </div>
    </a>  
   </article>
  {% endfor %}
</div>
